<?xml version="1.0"?>
<launch>
    <arg name="rviz_config" default="$(find eleven_navigation)/config/navigation_rviz.rviz"/>

    <!-- Map server -->
    <include file="$(find eleven_navigation)/launch/includes/map_server.launch">
        <arg name="map_name" default="wg_map"/>
    </include>

    <!-- Localization -->
    <include file="$(find eleven_navigation)/launch/includes/amcl.launch"/>

    <!-- Navigation move_base -->
    <include file="$(find eleven_navigation)/launch/includes/move_base.launch"/>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(arg rviz_config)"/>
</launch>