<?xml version="1.0"?>
<launch>
    <arg name="map_keepout_name" default="wg_map3"/>


    <arg name="map_keepout_file" default="$(find eleven_navigation)/maps/$(arg map_keepout_name).yaml"/>
    <arg name="rviz_config" default="$(find eleven_navigation)/config/navigation_carto_rviz.rviz"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_keepout_server" type="map_server" args="$(arg map_keepout_file)">
        <param name="frame_id" value="map"/>
        <remap from="map" to="map_keepout" />
        <remap from="static_map" to="static_map_keepout" />
    </node>

    <!-- Localization -->
    <include file="$(find eleven_navigation)/launch/includes/pure_localization.launch"/>

    <!-- Navigation move_base -->
    <include file="$(find eleven_navigation)/launch/includes/move_base.launch">
        <arg name="map_topic" value="map_keepout" />
    </include>

    <!-- Path marker -->
    <!-- <include file="$(find eleven_navigation)/launch/includes/path_marker.launch"/> -->

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(arg rviz_config)"/>
</launch>