<?xml version="1.0"?>
<launch>
    <arg name="map_name" default="wg_map3"/>
    <arg name="bag_name" default="test_mapping.bag"/>
    <arg name="bag_rate" default="1" />

    <arg name="rviz_config" default="$(find eleven_navigation)/config/test_localization.rviz"/>

    <!-- Map server -->
    <include file="$(find eleven_navigation)/launch/includes/map_server.launch">
        <arg name="map_name" default="$(arg map_name)"/>
    </include>

    <!-- Localization -->
    <include file="$(find eleven_navigation)/launch/includes/amcl.launch"/>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(arg rviz_config)"/>


    <!-- Trajectory path -->
    <include file="$(find eleven_navigation)/launch/includes/trajectory_server.launch"/>

    <!-- Playback rosbag -->
    <include file="$(find eleven_bags)/launch/play_bagfile.launch">
        <arg name="bag_file" value="$(find eleven_slam)/bags/$(arg bag_name)"/>
        <arg name="rosbag_rate" value="$(arg bag_rate)"/>
    </include>
</launch>