<?xml version="1.0"?>
<launch>
    <arg name="urdf_file" default="$(find xacro)/xacro '$(find eleven_description)/urdf/eleven_base.xacro'"/>
    <!-- Robot param -->
    <param name="robot_description" command="$(arg urdf_file)"/>

    <!-- Combine joint values -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" value="50"/>
        <param name="use_tf_static" value="true"/>
    </node>

    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_base_footprint" args="0 0 0 0 0 0 /map /base_footprint 200" /> -->



</launch>