<?xml version="1.0"?>
<launch>
    <!-- Teleop key node -->
    <include file="$(find eleven_teleop)/launch/includes/teleop_key.launch">
        <arg name="cmd_topic" value="key_vel"/>
        <arg name="linear_vel_max" value="0.85"/>
        <arg name="linear_vel_step" value="0.1"/>
        <arg name="angular_vel_max" value="0.65"/>
        <arg name="angular_vel_step" value="0.1"/>
    </include>
</launch>