<?xml version="1.0"?>
<launch>

    <arg name="resolution" default="0.03"/>

    <arg name="configuration_directory" default="$(find eleven_description)/config"/>
    <arg name="configuration_basename" default="eleven_robot.lua"/>


    <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" args="
        -configuration_directory $(arg configuration_directory)
        -configuration_basename $(arg configuration_basename)" output="screen"/>

    <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node" args="-resolution $(arg resolution)"/>

</launch>