<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

    <!-- Arguments -->
    <arg name="bag_file" default="$(find eleven_slam)/bags/test_cartographer.bag"/>
    <!-- <arg name="rosbag_rate" default="1" /> -->

    <arg name="slam_methods" default="cartographer" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="open_rviz" default="true"/>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find eleven_slam)/config/eleven_$(arg slam_methods).rviz"/>
    </group>

    <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration-->
    <include file="$(find eleven_slam)/launch/slam_$(arg slam_methods).launch">
        <!-- <arg name="map_size" value="2500"/> -->
    </include>

    <!-- Playback rosbag -->
    <node name="player" pkg="rosbag" type="play" output="screen" args="--clock $(arg bag_file)"/>

</launch>